<div class="examples__card">
  <a href="examples-detail.html" >
    <img src="/images/candy5.jpg" alt="Preview" class="examples__card_img">
  </a>
  <div class="examples__card_content">
    <a href="examples-detail.html" class="examples__card-title">
      <h3 class="title3">Название карточки парсинга</h3>
    </a>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Facilis quo modi suscipit? Labore autem facilis beatae? 
      Qui, tenetur dolorum blanditiis voluptas at architecto maiores cumque.
    </p>
    <a href="examples-detail.html" class="articles__head_link">Подробнее &#8594;</a>
  </div>
</div>