  </main>
  <footer class="footer">
    <div class="container">
      iparse.tech 
      &#169;
      <span class="footer__year"></span>
      
      
      - услуги парсинга веб-сайтов
      | 
      <span>
        Разработка сайта - 
        <a href="https://ampilovs.ru/" class="articles__head_link" target="_blank">Программист Ампилов</a>
      </span>
    </div>
  </footer>
  <script src="/main.js"></script>
</body>
</html>