  </main>
  <footer class="footer">
    <div class="container">
      iparse.tech - услуги парсинга веб-сайтов
      &#169;
      <span class="footer__year"></span>
    </div>
  </footer>
  <script src="main.js"></script>
</body>
</html>