<div class="container">
  <div class="promo__head">
    <h1 class="promo__title">
      Oooops...что-то пошло не так
    </h1>
    <p class="promo__subtitle">
      Запрашиваемая страница не найдена
    </p>
    <p class="promo__subtitle">
      <a href="/" class="articles__head_link"> &#8592; вернуться на главную</a>
    </p>
  </div>
</div>