<div class="container">
  <h1>
    Parser light - бесплатное приложение для парсинга
  </h1>
  <p>
    Parser light - это простое веб-приложение для автоматизации сбора данных в интернете.
    Скачайте исходный код бесплатного приложения для парсинга:
    <a href="https://github.com/SergeiAmpilov/parser-light" class="articles__head_link">go github</a> &#9989;
  </p>
  <img src="/images/app-page/parser1.png" alt="Parser light preview" class="promo__img">

  <h2>Оглавление:</h2>
  <ul>
    <li>
      <a href="#downdetector" class="articles__head_link">Сервис downdetector</a>
    </li>
        <li>
      <a href="#seoparser" class="articles__head_link">SeoParser</a>
    </li>
  </ul>
  
  <h2 id="downdetector">DownDetector</h2>
  <p>
    DownDetector - это сервис определения доступности и работоспособности сайта или интернет-ресурса. 
    Работа сервиса базируется на библиотеке axios, и анализирует результат обращения к сервису по протоколу HTTP.
  </p>
  <p>
    Приложение хренит историю запусков тестов и их результаты - коды ответа сатов и их статусы.
  </p>
  <img src="/images/app-page/downdetector.png" alt="Downdetector" class="promo__img">


  <h2 id="seoparser">SeoParser</h2>
  <p>
    Seoparser - это механизм автоматического сбора страниц какого либо сайта, 
    с последующим анализом seo-тегов собранных страниц. Может быть использован для быстрого
    сбора семантики сайтов-конкурентов или просто отраслевых сайтов.
  </p>
  <p>
    Используя собранное семантическое облако можно быстро создать собственное семантическое ядро Вашего сайта и использовать его
    как конкурентное преимущество при seo-продвижении вашего собственного сайта.
  </p>
  <p>
    Принцип работы приложения схож с технологией индексации сайтов поисковыми системами yandex и google - 
    для начала анализируются файлы индексации sitemap. На их основе получаем полный список всех страниц сайта.
    И уже в последствии, для каждой выявленной страницы методом парсинга собираются основные seo-теги: title, h1, description.
  </p>
  <img src="/images/app-page/seoparser1.png" alt="Seoparser" class="promo__img">
  <img src="/images/app-page/seoparser2.png" alt="Sitwemap list" class="promo__img">
  <img src="/images/app-page/seoparser3.png" alt="Pages and tags" class="promo__img">
  

</div>