<div class="container">
  <h1>
    Parser light - бесплатное приложение для парсинга
  </h1>
  <p>
    Parser light - это простое веб-приложение для автоматизации сбора данных в интернете.
    Скачайте исходный код бесплатного приложения для парсинга:
    <a href="https://github.com/SergeiAmpilov/parser-light" class="articles__head_link">go github</a>
  </p>
  <img src="/images/app-page/preview.png" alt="">
  <h2>DownDetector</h2>
  <p></p>
</div>