    <div class="container">
      <h1>Статьи</h1>
    </div>
    <section class="articles-list">
      <div class="container">
        <ul class="articles__list">
          {{> articlecard }}
          {{> articlecard }}
          {{> articlecard }}
          {{> articlecard }}
          {{> articlecard }}
          {{> articlecard }}
          {{> articlecard }}
          {{> articlecard }}
        </ul>
      </div>
    </section>