    <section class="articles-list">
      <div class="container">
        <h1>{{ cardTitle }}</h1>
        <div class="articles__section">
          {{ cardDateCreate }}
          {{#if cardTags.length}}
          |
            {{#each cardTags}}
              <span class="articles__tag">{{ this }}</span>
            {{/each}}
          {{/if}}
        </div>
        <p class="articles__description">
          {{ cardText }}
        </p>
        <a href="/articles" class="articles__head_link">&#8592; Назад</a>
      </div>
    </section>