    <div class="container">
      <h1>Статьи</h1>
    </div>
    <section class="articles-list">
      <div class="container">
        {{#if articles.length}}
          <ul class="articles__list">
            {{#each articles}}
              {{> articlecard }}
            {{/each}}
          </ul>
        {{/if}}
      </div>
    </section>