    <section class="examples">
      <div class="container">
        <h1>Примеры парсинга сайтов</h1>
        <p>Скачайте <b>бесплатно</b> примеры уже собранных баз данных</p>
        <div class="examples__list">

        {{#if casesList.length}}
          {{#each casesList}}
            {{> casescard }}
          {{/each}}
        {{/if}}


        </div>
      </div>
    </section>