<section class="contacts">
  <div class="container">
    <div class="promo__head">
      <h1 class="promo__title">Контакты</h1>
      <p class="promo__subtitle">
        Обращайтесь!
      </p>
    </div>
    <div class="promo__content">
      <div>
        <p class="promo__subtitle contacts__row">
          <span class="material-symbols-outlined contacts__link">
            alternate_email
          </span>
          Email:              
          <a href="mailto:info@iparse.tech" class="articles__head_link contacts__link">info@iparse.tech</a>
        </p>
        <p class="promo__subtitle contacts__row">
          <span class="material-symbols-outlined contacts__link">
            call
          </span>
          Телефон:              
          <a href="tel:+79268373346" class="articles__head_link contacts__link">+7 (926) 837 - 33 - 46</a>
        </p>
        <p class="promo__subtitle contacts__row">
          <span class="material-symbols-outlined contacts__link">
            rocket_launch
          </span>
          Telegram:              
          <a href="https://t.me/ampilovsergei" class="articles__head_link contacts__link">@ampilovsergei</a>
        </p>
        <p class="promo__subtitle contacts__row">
          <span class="material-symbols-outlined contacts__link">
            schedule
          </span>
          График работы:
          <span class="contacts__link">
            пн - пн, с 10:00 до 19:00
          </span>
        </p>
        <p class="promo__subtitle">
          <a href="#form" class="promo__button">
            Оставить заявку на парсинг
          </a>
        </p>
      </div>
      <img src="/images/contacts.png" alt="web-parsing" class="promo__img">
    </div>
  </div>
</section>


{{> contactform }}
