    <section class="articles-list">
      <div class="container">
        <h1>{{ cardTitle }}</h1>
        <div class="articles__section">
          {{ cardDateCreate }}
          {{#if cardTags.length}}          |
            {{#each cardTags}}
              <span class="articles__tag">{{ this }}</span>
            {{/each}}
          {{/if}}
        </div>

        <div class="articles__img-full">
          <img src="/images/articles/{{cardSlug}}/preview.png" alt="parsing" class="article__img-responsive">
        </div>

        <p class="articles__description">
          Многие контрагенты интересуются — законно ли вообще заниматься парсингом? 
          Сразу <b>короткий ответ — да</b>, это полностью законно. Давайте рассмотрим этот вопрос чуть подробнее.
        </p>

        <p class="articles__description">
          Принцип законности и правомочности лежит в фундаменте парсинга. Мы просто автоматизируем сбор той 
          информации, которая могла быть найдена и собрана вручную, и из открытых источников.
        </p>

        <h2>Насколько это этично?</h2>

        <p class="articles__description">
          Дело в том, что сам процесс парсинга связан с большим количеством запросов к сайту / ресурсу, 
          с которого собирают данные. Сама по себе высокая частота обращений может создать повышенную нагрузку 
          на сайт, и даже выглядеть как ddos-атака. Этого нужно активно избегать.
        </p>

        <p class="articles__description">
          В своей практике мы применяем инструмент планирования задач и делаем необходимые запросы с низкой 
          интенсивностью, в течении некоторого (иногда длительного) времени. Да, это снижает скорость 
          парсинга, но по крайней мере, мы не создаем условий для разрушения ресурса, с которого черпаем данные.
        </p>

        <h2>Законно ли использовать данные?</h2>

        <p class="articles__description">
          Данные, защищенные законом — например персональные данные, мы не собираем, и потому 
          не рассматриваем вопрос их законного использования. Что касается изображений, на которые может 
          распространяться закон об авторском праве — сами по себе изображения мы не копируем, а собираем 
          только url-адреса изображений. И передаем их нашим заказчикам.
          <br>
          Как ими распорядиться дальше решает наш заказчик, и это является уже его зоной ответственности.
        </p>

        <h2>Субъективно — об использовании чужих данных</h2>

        <p class="articles__description">
          Мы придерживаемся мнения, что чужие данные можно и нужно использовать в случае, если на их 
          основе создается какой-то другой продукт, сервис или услуга. Что-то, что содержит дополнительную 
          привнесенную ценность. А прямого у грубого копирования, плагиата и заимствования нужно избегать.
        </p>

        <h2>Что точно нарушает закон, и чего делать нельзя</h2>

        <ul>
          <li>нельзя собирать, обрабатывать и хранить персональные данные без согласия их владельца</li>
          <li>нельзя использовать никакие данные для спама</li>
          <li>запрещено проводить ddos-атаки, и любые вредоносные действия</li>
          <li>нельзя использовать изображения, защищенные авторским правом</li>
        </ul>
        
        <a href="/articles" class="articles__head_link">&#8592; Назад</a>

      </div>
    </section>